<% if(locals.user) { %>
<div class="menu">
    <span class="name"> <%= user.name %> </span>
    <a href="/post"> post </a>
    <a href="/logout"> logout </a>
</div>
<% } else { %>
<div class="menu">
    <a href="/login"> login </a>
    <a href="/register"> register </a>
</div>
<%}%>