<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel = 'stylesheet' href="/public/stylesheets/style.css" />
    </head>
    <body>
        <%- include("menu") %>
        <h1> <%= title %> </h1>
        <p> Заполните форму для добавления нового поста </p>
        <form action="/post" method="post">
            <p>
                <input type="text" name='entry[title]' placeholder="Title" /> <!--Текст заголовка записи-->
            </p>
            <p>
                <textarea name='entry[body]' placeholder='Body'>
                    <!--Текст тела записи-->
                </textarea>
            </p>
            <p>
                <input type="submit" value='Post' />
            </p>
        </form>
    </body>
</html>