<entries>
    <% entries.forEach(entry => {  %> //перебирает все записи
    <entry>
        <title><%= entry.title  %></title> //выводит поля
        <body><%= entry.body %></body>
        <username><%= entry.username %>  </username>
    </entry>
    <%})%>
</entries>